# Testataan **päivitetyn** datacleaner-moduulin toiminta

In [1]:
import sys
import pandas as pd

In [2]:
# Tämä täytyy olla, jotta moduuleita voidaan ajaa
#sys.path.append("./modules/")
sys.path.append("/home/jovyan/work/TeamAdconsys/Tuomas/modules/")

In [3]:
# Import module
# Jos tässä kohassa tulee erroria, tarkista ylläoleva hakemistorakenne kuntoon
from datacleaner import dataCleaner

In [4]:
# Tällä tarkistat funktion sisällön
help(dataCleaner)

Help on function dataCleaner in module datacleaner:

dataCleaner(df, newColumns=True, numericValues=False)
    dataCleaner -function

    Cleans timestamp, adds new columns (if newColumns=True) and transform status-values into numeric (if numericValues=True)

    Parameters
    ----------

    df :
        - Type: Pandas DataFrame


    newColumns :
        - Type: boolean
        - Default: True
        - If True, adds new columns day, month, year and date

    numericValues :
    - Type: boolean
    - Default: False
    - If True, transforms values into numeric


    Returns
    -------

    Pandas dataframe that has timestamp cleaned, numeric status-values (and new columns added)

### Koskematon data csv-muodossa

In [5]:
# Otetaan testiksi joku data
# Ja korjaa tässäkin hakemistorakenne
df = pd.read_csv('Datat_koskemattomat_csv_IV_TE3A_Menovesi_LaskAs.csv', header=0)
df.head(5)

                 timestamp trendFlags status  value
0   03-Apr-19 8:51 AM EEST    {start}   {ok}  42.42
1   03-Apr-19 9:16 AM EEST        { }   {ok}  41.90
2   03-Apr-19 9:33 AM EEST        { }   {ok}  41.37
3   03-Apr-19 9:51 AM EEST        { }   {ok}  40.85
4  03-Apr-19 10:10 AM EEST        { }   {ok}  40.33

In [6]:
# Katsotaan mitä datacleaner tekee
dataCleaner(df,numericValues=False, newColumns=True)

Processing dataframe

Cleaning timestamp

/opt/conda/lib/python3.7/site-packages/dateutil/parser/_parser.py:1218: UnknownTimezoneWarning: tzname EEST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)
/opt/conda/lib/python3.7/site-packages/dateutil/parser/_parser.py:1218: UnknownTimezoneWarning: tzname EET identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

Creating new columns
done in 1.86 seconds

,timestamp,trendFlags,status,value,day,month,year,date
0,2019-04-03 08:51:00,{start},{ok},42.42,3,4,2019,2019-04-03
1,2019-04-03 09:16:00,{ },{ok},41.90,3,4,2019,2019-04-03
2,2019-04-03 09:33:00,{ },{ok},41.37,3,4,2019,2019-04-03
3,2019-04-03 09:51:00,{ },{ok},40.85,3,4,2019,2019-04-03
4,2019-04-03 10:10:00,{ },{ok},40.33,3,4,2019,2019-04-03
...,...,...,...,...,...,...,...,...
18368,2021-02-15 03:44:00,{ },{ok},53.44,15,2,2021,2021-02-15
18369,2021-02-15 07:10:00,{ },{ok},53.96,15,2,2021,2021-02-15
18370,2021-02-15 10:09:00,{ },{ok},53.44,15,2,2021,2021-02-15
18371,2021-02-15 10:17:00,{ },{ok},52.89,15,2,2021,2021-02-15
18372,2021-02-15 10:33:00,{ },{ok},53.44,15,2,2021,2021-02-15

- Datacleaner muutti timestampin automaattisesti oikeaan muotoon
- Se lisäsi myös uudet sarakkeet (day, month, year, date), koska **newColumns=True**
- 'TrendFlags' ja 'status' sarakkeet pysyivät koskemattomina, koska **numericValues = False**

In [8]:
# Nyt muutetaan saman dataframen trendFlags ja status vielä numeeriseen muotoon
dataCleaner(df,numericValues=True)

Processing dataframe

Cleaning timestamp
Creating new columns
Transforming values into numeric
done in 0.05 seconds

,timestamp,trendFlags,status,value,day,month,year,date
0,2019-04-03 08:51:00,1,0,42.42,3,4,2019,2019-04-03
1,2019-04-03 09:16:00,0,0,41.90,3,4,2019,2019-04-03
2,2019-04-03 09:33:00,0,0,41.37,3,4,2019,2019-04-03
3,2019-04-03 09:51:00,0,0,40.85,3,4,2019,2019-04-03
4,2019-04-03 10:10:00,0,0,40.33,3,4,2019,2019-04-03
...,...,...,...,...,...,...,...,...
18368,2021-02-15 03:44:00,0,0,53.44,15,2,2021,2021-02-15
18369,2021-02-15 07:10:00,0,0,53.96,15,2,2021,2021-02-15
18370,2021-02-15 10:09:00,0,0,53.44,15,2,2021,2021-02-15
18371,2021-02-15 10:17:00,0,0,52.89,15,2,2021,2021-02-15
18372,2021-02-15 10:33:00,0,0,53.44,15,2,2021,2021-02-15